*~
*.o
*.Po
*.a
/data/
autom4te.cache
Makefile
config.h
INSTALL
config.log
config.status
src/dafs
.dirstamp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
build
exp
.cache
.vscode/
/benchmarks/results*/
/benchmarks/data/raw/
/benchmarks/data/murlet/inputs/
/benchmarks/data/murlet/references/
/benchmarks/data/raw/linearturbofold-nonviral/
/benchmarks/data/linearturbofold-nonviral/inputs/
__pycache__/
